$background-color: #f277a4;
$text-color: black;
$border-color: #cc2b66;
$text-border-color: #fcc0d6;
$padding: 10px;
$card-width-mobile: 80vw;

.cards {
    &--container {
        padding: $padding;
        display: flex;
        flex-direction: row;
        gap: 30px;

        @media (max-width: 768px) {
            flex-direction: column;
            gap: 20px;
        }
    }
}

.card {
    &--light {
        background-color: $background-color;
        color: $text-color;
        padding: $padding;
        width: 20vw;
    }

    &--dark {
        background-color: $text-color;
        color: $background-color;
        padding: $padding;
        width: 20vw;
    }

    &__visual {
        width: 100%;
    }

    &__text {
        padding-left: 20px;

        @media (max-width: 768px) {
            width: $card-width-mobile;
        }

        &__paragraph {
            padding-right: $padding;
        }

        &__button {
            background-color: $border-color;
            border-radius: 10px;
            border: 2px solid $text-border-color;
            padding: $padding;
            color: $text-border-color;
            cursor: pointer;
        }
    }
}
